/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2rem auto;
}

.form-container label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #555;
}

.btn-green {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-green:hover {
    background-color: #45a049;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.table-container {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.table-container th {
    background-color: #333;
    color: #fff;
}

.summary-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 1rem;
    text-align: center;
}

.summary-card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.summary-card p {
    font-size: 2rem;
    color: #0D47A1; /* Bleu marine */
}
.message {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-weight: bold;
}

.message.success {
    background-color: #d4edda; /* Vert clair */
    color: #155724; /* Vert foncé */
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da; /* Rouge clair */
    color: #721c24; /* Rouge foncé */
    border: 1px solid #f5c6cb;
}


